@import "../theme";
@import "../mixins";

.snovy-button {
  @include focus(50%);
  @include border(1px);
  flex-shrink: 0;
  margin: 0.1em;
  padding: 0;
  background-color: transparent;
}

.snovy-remove-button,
.snovy-collapse-button,
.snovy-add-button {
  @include circular($font-medium);
  font-size: $font-medium;
}

.snovy-color-button {
  @include circular($font-big);
}

.snovy-confirm-button {
  @include text-height-padded($font-big, 1.5);
  @include focus($border-rad-big);
  @include border(1px);
  width: unset;
  height: unset;
  max-width: 80%;
  padding: 0 0.5em;
  border-radius: $border-rad-big;
}

.snovy-check-button {
  @include circular($font-big);
  font-size: $font-small;
}