@import "../theme";
@import "../mixins";

.snovy-button {
  @include button-size($font-medium);
  @include focus();
  flex-shrink: 0;
  margin: 0.1em;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;

  &:hover {
    background-color: transparentize($color-text-secondary, 0.7);
  }
}

.snovy-color-button {
  @include button-size($font-big);
  font-size: $font-small;
}

.snovy-confirm-button {
  @include text-height-padded($font-big, 1.5);
  width: unset;
  height: unset;
  max-width: 80%;
  padding: 0 0.5em;
  border-radius: $border-rad-round;
  border: $border-thin-inverted;

  &:hover {
    background-color: $color-hover;
  }
}

.snovy-check-button {
  @include button-size($font-big);
  font-size: $font-small;
  color: $color-text-primary;
  background-color: $color-text-primary;

  &:hover {
    background-color: $color-accent;
  }
}