@import "../borders";
@import "../mixins";

.snovy-button {
  padding: 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;

  &.snovy-button-circular {
    @include circular();
    height: 1em;
    width: 1em;
    padding: unset;
    margin: 0.1em;
    flex-shrink: 0;

    svg {
      transform: scale(1.2); //google svgs need to be scaled up to fit 100% of parent
    }
  }

  &.svg-button {
    //outline: none !important;

    &.check svg {
      transform: scale(0.75);
    }
  }
}