@import "../theme";
@import "../mixins";

.snovy-color-picker {
  display: grid;
  grid-template-areas: "predefined-colors" "input";
  grid-row-gap: 0.5em;
  align-items: start;
  justify-items: start;

  .color-container {
    grid-area: predefined-colors;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
