@import "../theme";
@import "../mixins";

.snovy-combo-box {
  font-size: $font-big;
  position: relative;
  min-width: 0;
  width: 100%;

  .snovy-combo-box-input-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    outline: none;

    & * {
      color: $color-text-primary;
    }

    .inner-wrapper {
      min-width: 0;
      flex-grow: 1;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    .snovy-button {
      @include circular($font-medium);

      &:hover {
        background-color: transparentize($color-text-primary, 0.5);
      }
    }
  }
}

.snovy-dropdown {
  @include scrollbar();
  max-height: 50vh;
  left: -1px;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
  position: absolute;
  background-color: $color-primary;
  border: $border-thin;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  list-style: none;

  &.slide {
    box-sizing: border-box;
    max-height: unset;
    left: unset;
    width: 100%;
    border: unset;
    border-top: $border-thin;
    position: unset;
  }

  .snovy-dropdown-item,
  .snovy-dropdown-create-item {
    @include text-height-padded($font-big, 2);
    scroll-snap-align: start;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-text-primary;
    padding: 0 2%;
    cursor: default;
    user-select: none;
  }

  .snovy-dropdown-no-match {
    text-align: center;
  }

  .info-dropdown-item {
    @include text-height-padded($font-small, 2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}