@import "../mixins";

.snovy-combo-box {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  flex-grow: 1;
  display: grid;
  grid-template-areas: "input button" "dropdown dropdown";
  grid-auto-columns: auto min-content;

  .snovy-input {
    grid-area: input;
    align-self: center;
    height: 1em;
  }

  .snovy-button-circular {
    grid-area: button;
    align-self: center;
    border-style: unset !important;
  }
}

.snovy-dropdown {
  @include scrollbar();
  grid-area: dropdown;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  list-style: none;

  .snovy-dropdown-item {
    scroll-snap-align: start;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2%;
    cursor: default;
    user-select: none;
  }

  .snovy-dropdown-no-match {
    text-align: center;
  }

  .info-dropdown-item {
    white-space: pre-line;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}