@import "../theme";
@import "../mixins";

.snovy-context-menu {
  z-index: 100;
  background-color: $colour-primary;
  border: $border-thin-inverted;
  border-radius: $border-rad-rounded;
  overflow: hidden;

  :last-child {
    border-bottom: none;
  }
}

.snovy-context-menu-item {
  @include text-height-padded($font-small, 2);
  display: flex;
  flex-flow: row nowrap;
  align-content: space-evenly;
  user-select: none;
  border-bottom: $border-thin-inverted;
  color: $colour-text-primary;

  :last-child {
    flex-grow: 1;
    align-self: flex-start;
    padding-right: 10px;
  }

  .context-icon {
    text-align: center;
    padding: 0 10px;
    border-right: $border-thin-inverted;
  }

  .context-text {
    padding: 0 0.5ch;
    white-space: nowrap;

    &:hover {
      background-color: $colour-accent;
    }
  }

  .context-text-special {
    padding-left: 0.5ch;
    white-space: nowrap;

    &:hover {
      background-color: $colour-accent;
    }
  }

  &:hover {
    background-color: $colour-hover;
  }
}