@import "../theme";
@import "../mixins";

.snovy-context-menu {
  z-index: 100;
  background-color: $color-primary;
  border: $border-thin-inverted;

  &:last-child {
    border-bottom: none;
  }
}

.snovy-context-menu-item {
  @include text-height-padded($font-small, 2);
  display: flex;
  flex-flow: row nowrap;
  align-content: space-evenly;
  user-select: none;
  color: $color-text-primary;

  :last-child {
    flex-grow: 1;
    align-self: flex-start;
    padding-right: 10px;
  }

  .context-wrapper {
    .context-icon {
      text-align: center;
      padding: 0 10px;
      border-right: $border-thin-inverted;
    }

    .context-text {
      padding: 0 0.5ch;
      white-space: nowrap;
    }

    &:hover {
      background-color: $color-accent;
    }
  }

  .context-text-special {
    padding-left: 0.5ch;
    white-space: nowrap;

    &:hover {
      background-color: $color-accent;
    }
  }

  &:hover {
    background-color: $color-hover;
  }
}

.outer-wrapper {
  position: relative;
  border-bottom: $border-thin-inverted;
}

.nested-context-menu {
  z-index: 110;
  position: absolute;

  background-color: $color-primary;
  border: $border-thin-inverted;

  &:last-child {
    border-bottom: none;
  }

  .context-item-wrapper {

  }
}