@import "../theme";
@import "../mixins";

#snovy-editor {
  @include scrollbar;
  grid-area: centre;
  background-color: $color-primary;
  color: $color-text-primary;
  padding: 1% 2%;
}

.DraftEditor-root,
.DraftEditor-editorContainer,
.public-DraftEditor-content {
  height: 100%;
}

.public-DraftStyleDefault-orderedListItem {
  //margin-left: 17px;
}

.myListStyle {

}