@import "../mixins";

#snovy-editor {
  grid-area: centre;
  display: grid;
  grid-template-areas: "toolbar" "editor";
  grid-auto-rows: min-content auto;

  .toolbar {
    grid-area: toolbar;
  }

  .editor-wrapper {
    @include scrollbar();
    grid-area: editor;
    padding: 0.5em;

    & > * {
      background-color: transparent;
    }

    textarea {
      font-size: inherit;
      width: 100%;
      outline: none;
      border: none;
      box-sizing: border-box;
      resize: none;
    }
  }
}

//outline prosemirror style adjustments

.ProseMirror {

  .heading-content {
    cursor: text;
  }

  h1, h2, h3, h4, h5 {
    margin: 0.5em 0 0.25em 0 !important;
  }

  h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    display: none !important;
  }
}

//hide outline toolbar, floating menu and some trash divs
.block-menu-trigger,
html div:not([class]):not([id]) {
  display: none;
  visibility: hidden;
}

#snovy-editor :is(div, textarea),
.ProseMirror {
  height: 100%;
  box-sizing: border-box;
}