@import "../theme";
@import "../mixins";

#snovy-editor {
  @include scrollbar;
  grid-area: centre;
  //height: 100%;
  background-color: $color-primary;
  color: $color-text-primary;
}

#snovy-editor > *,
#snovy-editor > * > *,
.ProseMirror {
  height: 100%;
}

.ProseMirror {
  padding: 1%;
}


#block-menu-container {
  @include scrollbar;
  max-height: 50vh;

  button {
    svg {
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    }

    span {
      font-weight: bold;
      color: $color-text-primary;
    }
  }
}

.block-menu-trigger {
  display: none !important;
}