.snovy-input {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  padding: 0.1em 0 0.1em 0.4vw;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  outline-offset: -1px;
}

.colored-input-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;

  .color-helper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2ch;
  }

  .color-input {
    border-left: unset;
    width: calc(8ch + 0.4vw);
  }
}


.labeled-input-wrapper {
  max-width: 100%;
  margin: 0 0.2em;
  display: flex;
  //flex-flow: set in js
  justify-self: flex-start;
  align-items: center;
  justify-content: space-between;

  .label-text {
    margin: 0 0.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}