@import "../mixins";

.snovy-list {
  @include scrollbar();
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  place-content: flex-start flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.snovy-list-item {
  scroll-snap-align: start;
  border-radius: unset;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  place-content: flex-start center;

  & > * {
    padding: 2% 4%;
  }

  &, * {
    cursor: default;
    user-select: none;
  }
}

.snovy-note-item {
  display: flex;
  flex-flow: row nowrap;
  place-items: center flex-start;
}