@import "../theme";

.snovy-list {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: $scrollbar;
}

.snovy-list-item {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5em;
  color: $colour-text-primary;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  cursor: default;
  padding: 4px 10px;
  user-select: none;

  &:hover {
    background-color: $colour-hover;
  }

  &.active-context {
    opacity: 0.8;
  }
}