@import "../theme";
@import "../mixins";

.snovy-list {
  @include scrollbar;
  max-height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.snovy-list-item {
  @include text-height-padded($font-medium, 2);
  scroll-snap-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10%;
  border: none;
  cursor: default;
  user-select: none;

  &:hover {
    background-color: $color-hover;
  }
}