@use "tag-add-form";
@use "tags";

@import "../theme";
@import "../mixins";

//TODO commonize header body footer content layout for sidebar
#snovy-note-detail {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: fit-content(10%) 4fr 1fr;
  grid-template-areas: "header" "body" "rest";

  .note-detail-header {
    @include border(0 0 2px 0);
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: flex-start;

    .snovy-combo-box {
      position: unset;
    }

    .snovy-button {
      @include circular($font-huge);
      font-size: $font-big;
      border-width: 2px;
    }
  }

  .note-detail-body {
    grid-area: body;
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;

    #tag-display-area {
      @include scrollbar();
      min-width: 0;
      min-height: 0;
      max-width: 100%;
      max-height: 100%;
      padding: 0.1em;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}