@import "../theme";
@import "../mixins";

.snovy-options {
  grid-area: 1 / left / 1 / rightmenu;
  width: 100%;
  height: 100%;
  padding: 1%;
  z-index: 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 10%;
  grid-template-areas: "left center right" "opt opt opt";
  justify-items: center;
  align-items: start;

  #theme-options {
    @include scrollbar();
    grid-area: right;
    width: 100%;
    height: 100%;
  }

  #control-buttons {
    grid-area: opt;
    justify-self: end;
    align-self: center;
  }

}