@import "../theme";

.snovy-sidebar {
  display: inline-flex;

  .sidebar-content {
    flex: 1 1;
    background-color: $colour-primary;
    min-height: 0;
    min-width: 0;

    &.left {
      border-right: $border;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: fit-content(100px) 10fr;
      //grid-auto-rows: min-content;
      grid-template-areas: "notebook notebook" "section note";
    }

    &.right {
      border-left: $border;
      //TODO, I guess
      display: flex;
    }
  }
}

#snovy-selector-notebook {
  grid-area: notebook;
  border-bottom: $border;
}

#snovy-list-section {
  grid-area: section;
  border-right: $border-thin;
}

#snovy-list-note {
  grid-area: note;
  border-left: $border-thin;
}