@import "../mixins";

#left-menu {
  grid-area: leftmenu;
}

#right-menu {
  grid-area: rightmenu;
}

#left-sidebar {
  grid-area: left;
}

#right-sidebar {
  grid-area: right;
}

.snovy-sidebar {
  width: 21vw;

  .sidebar-content {
    min-height: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "heading" "body" "footing";
    grid-template-rows: auto 1fr 0;

    .sidebar-heading {
      grid-area: heading;
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      place-items: center flex-start;
      //align-items: center;

      .snovy-dropdown {
        top: 100%;
      }

      .snovy-button {
        border-style: unset;
      }
    }

    .sidebar-body {
      grid-area: body;
      min-width: 0;
      min-height: 0;
      max-width: 100%;
      max-height: 100%;
    }

    .sidebar-footing {
      grid-area: footing;
    }
  }
}

// ---- Left ----

#notes-selector {
  .sidebar-body {
    display: flex;
    flex-flow: row nowrap;

    .snovy-list {
      width: 50%;
    }
  }
}

// ---- Right ----

#snovy-note-detail {
  position: relative;
  grid-template-rows: auto 3fr 1fr;

  .sidebar-body {
    @include scrollbar();
    scrollbar-width: none; //TODO draw arrow that scrolls on hover/click when scroll is available
    padding: 0.1em;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
}

// ---- Template ----
#content-id {
  .sidebar-heading {
  }

  .sidebar-body {
  }

  .sidebar-footing {
  }
}