@import "../borders";
@import "../mixins";

.snovy-tab-menu {
  width: 100%;
  height: 100%;
  display: flex;
  //flex-direction: column; set in js
  flex-wrap: nowrap;
  justify-content: space-between;

  &:is(.top,.bottom) {
    flex-direction: row;
  }

  &:is(.left,.right) {
    flex-direction: column;
  }

  .menu-section {
    display: flex;
    flex-flow: inherit;
    align-items: stretch;
    overflow: hidden;

    &.start {
      justify-content: flex-start;
    }

    &.end {
      justify-content: flex-end;
    }
  }
}

.snovy-tab-menu-item {
  color: inherit;
  padding: 0.4em 0;
  cursor: default;
  user-select: none;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  &.icon {
    display: flex;
    place-content: center;
  }

  svg {
    transform: scale(0.9);
  }
}