@import "../theme";
@import "../mixins";

.snovy-tab-menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  &.left {
    @include border(0 2px 0 0);

    .snovy-tab-menu-item {
      writing-mode: sideways-lr;
    }
  }

  &.right {
    @include border(0 0 0 2px);

    .snovy-tab-menu-item {
      writing-mode: sideways-rl;
    }
  }

  .menu-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;

    &.start {
      justify-items: flex-start;
    }

    &.end {
      justify-items: flex-end;
    }
  }
}

.snovy-tab-menu-item {
  @include text-height-padded(1vw, 1.4);
  padding: 0.4em 0;
  cursor: default;
  user-select: none;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.icon {
    writing-mode: unset !important;
  }
}