@import "../theme";
@import "../mixins";

.snovy-tab-menu {
  background-color: $color-accent;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  &.left {
    border-right: $border;
  }

  &.right {
    border-left: $border;
  }
}

.snovy-tab-menu-item {
  @include text-height-padded($font-small, 1.5);
  width: calc(1.5 * #{$font-small});
  padding: 0.4em 0;
  cursor: default;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.left {
    writing-mode: sideways-lr;
  }

  &.right {
    writing-mode: sideways-rl;
  }

  &:hover {
    background-color: $color-hover;
  }
}