@import "../theme";

.tag-base {
  padding: 1px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
  border: 2px solid darkgreen; //colour1
  border-radius: 20px;
  background: beige; //colour3
}

.tag-scope {
  @extend .tag-base;
}

.tag-name {
  @extend .tag-base;
}

#snovy-tag-display {
  display: grid;
  grid-template-rows: 1fr 10fr 10fr;
  grid-template-areas: "top" "middle" "bottom";
}

#tag-display-container {
  min-width: 0;
  grid-area: middle;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.snovy-tag-item {
  border-radius: 20px;
  overflow: hidden;
  margin: 2px;
  font-size: 1.3em;
  color: $colour-text-secondary;
  background: darkgreen; //colour1
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.snovy-tag-item-grouped {
  border-radius: 10px;
  overflow: hidden;
  margin: 2px;
  color: $colour-text-secondary; //settable   //TODO settables
  background: darkgreen; //colour1
  display: flex;
  flex-flow: column nowrap;

  .tag-group-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .tag-scope {
      font-size: 1.1em;
      background-color: beige; //colour3
      border-radius: 10px;
    }
  }

  .tag-container {
    background-color: lightgreen;
    border-radius: 10px;
    border: 2px solid darkgreen; //TODO maybe no border and instead curve header
    border-top: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.snovy-tag-item-exclusive {

  .snovy-tag-item .snovy-button {
    display: none;
  }
}

//#tag-add-form {
//  grid-area: top;
//  display: flex;
//  flex-flow: row nowrap;
//  align-content: center;
//
//  input {
//    flex: 1 1;
//    font-size: inherit;
//    color: $colour-text-primary;
//    background: none;
//    border: $border-thin;
//    padding: 4px 10px;
//  }
//
//  button {
//    outline: none;
//  }
//
//}