@import "../mixins";

.snovy-form {
  box-sizing: border-box;
}

#snovy-tag-create-form {
  @include scrollbar();
  scrollbar-width: none;
  max-height: 60vh;
  outline: none;
  padding: 0 0.2em;
  width: 100%;
  position: absolute;
  z-index: 10;
  text-align: center;

  & > * {
    margin: 1em 0;
  }

  .snovy-form-item {
    display: grid;
    grid-template-areas: "color input check" "color1 input-dropdown check1";
    grid-template-columns: fit-content(5%) 1fr 30%;
    grid-template-rows: fit-content(1fr) 1fr;
    grid-column-gap: 0.2em;
    align-items: center;
    justify-items: center;

    .color-picker-button {
      grid-area: color;
    }

    & > input, .snovy-combo-box {
      grid-area: input;
      box-sizing: border-box;
      width: 100%;
    }

    .snovy-dropdown {
      grid-area: input-dropdown;
      box-sizing: border-box;
    }

    .snovy-color-picker {
      grid-area: input-dropdown;

      .color-container {
        margin-top: 0.5em;
      }
    }
  }

  #add-tag-button {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

}