@import "../theme";

.tag-base {
  font-size: 1.2em;
  padding: 1px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
  border: 2px solid $tag-colour-primary;
  border-radius: 20px;
}

.tag-scope {
  @extend .tag-base;
}

.tag-name {
  @extend .tag-base;
  background: beige;
}

#snovy-tag-display {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $scrollbar
}

.snovy-tag-item {
  border-radius: 20px;
  overflow: hidden;
  margin: 2px;
  color: $colour-text-secondary;
  background: $tag-colour-primary;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .tag-name {
    border-right: none;
  }
}

.tag-exclusive {
  border-radius: 10px;
}

.tag-grouped {
  border-radius: 10px;
  flex-grow: 1;
  flex-flow: column nowrap;
  align-items: unset;

  .tag-group-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .tag-scope {
      border-radius: 10px;
      border-left: none;
      border-right: none;
    }
  }

  .tag-container {
    background-color: $tag-colour-secondary;
    border-radius: 10px;
    border: 2px solid $tag-colour-primary; //TODO maybe no border and instead curve header
    border-top: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

#add-wrapper {
  align-self: center;
}

#tag-add-form {
  position: absolute;
  z-index: 10;
  background-color: darkgray;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;

  span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    input {
      font-size: 0.6em;
      color: $colour-text-primary;
      background: none;
      border: $border-thin;
      padding: 2px;
      margin: 4px 2px;
    }

    button {
      align-self: unset;
    }
  }

  button {
    align-self: center;
  }
}