@import "../theme";
@import "../mixins";

.snovy-form {

}

#snovy-tag-create-form {
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: $colour-primary;
  text-align: center;

  & > * {
    margin: 0.5em 0;
  }

  .coloured-wrapper {
    width: 100%;
    min-width: 0;
    display: grid;
    grid-template-areas: "colour input check";
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;

    .snovy-colour-button {
      grid-area: colour;
    }

    .colour-wrapper {
      //position: absolute;
    }

    input {
      @include text-height($font-medium);
      grid-area: input;
      vertical-align: middle;
      width: 100%;
      color: $colour-text-primary;
      background: none;
      border: $border-thin-inverted;
      padding: 0 0.1vw;
    }

    .snovy-check-button {
      grid-area: check;
      min-width: 0;
    }
  }

  .snovy-confirm-button {
    margin-top: 0 !important;
  }
}