$calc-width: calc(100% - 2 * 0.2em);

.tag-scope,
.tag-name {
  flex-grow: 1;
  padding: 0 0.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  margin: auto 0;
}

.snovy-tag-item {
  margin: 0.2em;
  max-width: $calc-width;
  box-sizing: border-box;
  padding: 0.2em;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .tag-name {
    margin-right: 0.2em;
  }

  .snovy-button {
    margin: unset;
  }
}

.tag-grouped {
  min-width: $calc-width; //prevent non-unique scoped tags from shrinking which can lead to empty spaces which look weird
  flex-grow: 1;
  flex-flow: column nowrap;
  align-items: unset;
  padding-top: 0.1em;

  .tag-group-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.1em 0;
  }

  .tag-container {
    padding: 0.1em;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.snovy-tag-detail {
  padding: 0.2em 0;
  width: 100%;

  .scope-detail,
  .tag-detail {
    display: grid;
    grid-template-areas: "color title";
    grid-template-columns: 20% 1fr;
    align-items: center;
  }

  .color-helper {
    grid-area: color;
    justify-self: center;
  }

  .title-helper {
    grid-area: title;
    justify-self: start;
  }
}