@import "../theme";
@import "../mixins";

$tag-outer-margin: 0.1em;

@mixin tag-base {
  @include text-height($font-medium);
  padding: 0 0.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  border-radius: $border-rad-round;
}

@mixin round-border {
  border-radius: $border-rad-round
}

@mixin rounded-border {
  border-radius: $border-rad-rounded
}

.tag-scope {
  @include tag-base;
}

.tag-name {
  @include tag-base;
  background: beige;
  flex-grow: 1;
  margin-left: 0.1em;
}


.snovy-tag-item {
  @include autosize-margin($tag-outer-margin, 50%);
  @include round-border;
  overflow: hidden;
  flex-grow: 1;
  color: $colour-text-secondary;
  background-color: beige; //fallback if there's somehow no colour
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .tag-name {
    border-right: none;
  }
}

.tag-exclusive {
  @include rounded-border;

  .tag-scope {
    max-width: 40%;
    font-size: $font-small;
    padding-right: unset;
  }

  .tag-name {
    margin-left: unset;
  }
}

.tag-grouped {
  @include autosize-margin($tag-outer-margin, 100%);
  @include rounded-border;
  min-width: calc(100% - 2 * #{$tag-outer-margin});
  flex-grow: 1;
  flex-flow: column nowrap;
  align-items: unset;

  .tag-group-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: $font-small;

    .tag-scope {
      font-size: $font-small;
    }
  }

  .tag-container {
    @include rounded-border;
    background-color: whitesmoke; //fallback if there's somehow no colour
    border-top: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }
}