@use "../common/list";
@use "../common/sidebar";

@import "../theme";

#left-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 20fr;
  grid-template-areas: "notebook notebook" "section note";
}

#snovy-selector-notebook {
  grid-area: notebook;
  border-bottom: $border;
}

#snovy-list-section {
  grid-area: section;
  border-right: $border-thin;
}

#snovy-list-note {
  grid-area: note;
  border-left: $border-thin;
}