@use "../component/sidebar";
@use "../component/tag-display";

@import "../theme";

#right-content {
  display: grid;
  grid-template-rows: 1fr 10fr 10fr;
  grid-template-areas: "top" "middle" "bottom";
}

#snovy-tag-manager {
  grid-area: middle  / bottom / bottom;
}