@use "typography";
@use "borders";
@use "component/input";
@use "component/button";
@use "component/editor";
@use "component/sidebar";
@use "component/list";
@use "component/context-menu";
@use "component/tab-menu";
@use "component/tag-manager";
@use "component/tag-add-form";
@use "component/tags";
@use "component/color-picker";
@use "component/options";
@use "component/combo-box";

html, body, #root {
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

[data-disabled="true"] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.75;
}

[data-editable="true"] {
  cursor: text !important;
  user-select: text !important;
}

[data-context="true"] {
  opacity: 0.6;
}

[data-visible="false"] {
  visibility: hidden;
  display: none !important;
}

svg {
  fill: currentColor;
  pointer-events: none;
}

#snovy-app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5vw fit-content(21vw) 1fr fit-content(21vw) 1.5vw;
  grid-template-rows: 100%;
  grid-template-areas: "leftmenu left centre right rightmenu";

  & > * {
    box-sizing: border-box;
  }
}