$border-1: 1px;
$border-2: 2px;

$border-rad-40: 40px;
$border-rad-10: 10px;
$border-rad-5: 5px;

@mixin border($width) {
  border-width: #{$width};
  border-style: solid;
}

@mixin focus($radius) {
  outline: none;

  [data-whatinput="keyboard"] &:focus {
    outline-width: $border-2;
    outline-style: inset;
    outline-offset: -$border-1;
    border-radius: #{$radius};
  }
}

// ---- Buttons ----

.snovy-button {
  @include border($border-1);
  @include focus($border-rad-10);
  border-radius: $border-rad-10;

  &.snovy-button-circular {
    border-radius: 50%;
  }
}

// ---- Inputs ----
.snovy-input:not(.snovy-list-item) {
  @include focus($border-rad-5);
}

.colored-input-wrapper {
  .color-helper {
    @include border($border-1);
    border-radius: $border-rad-5 0 0 $border-rad-5;
  }

  .color-input {
    @include border($border-1 $border-1 $border-1 0);
    border-radius: 0 $border-rad-5 $border-rad-5 0;
  }
}

// ---- Forms ----

.snovy-form {
  .snovy-form-item > .snovy-input,
  .snovy-combo-box {
    @include border($border-1);
    border-radius: $border-rad-5;
  }

  .snovy-combo-box {
    &[aria-expanded="true"] {
      border-radius: $border-rad-5 $border-rad-5 0 0;
    }
  }

  .snovy-button {
    @include border($border-1);
  }

  .snovy-dropdown {
    @include border(0 $border-1 $border-1 $border-1);

    border-radius: 0 0 $border-rad-5 $border-rad-5;
  }
}

// ---- Tags ----

.tag-scope,
.tag-name,
.snovy-tag-item {
  border-radius: $border-rad-40;
}

.snovy-tag-item {
  .snovy-button {
    border: unset;
  }
}

.color-helper {
  border-radius: 50%;
}

.tag-unique,
.tag-grouped,
.tag-grouped .tag-container {
  border-radius: $border-rad-10;
}

.tag-unique {
  .tag-scope {
    border-radius: $border-rad-10 0 0 $border-rad-10;
  }

  .tag-name {
    border-radius: 0 $border-rad-10 $border-rad-10 0;
  }
}

// ---- Context Menu ---

.snovy-context-menu,
.nested-context-menu {
  @include border($border-1);

  .outer-wrapper {
    @include border(0 0 $border-1 0);
  }

  .context-icon {
    @include border(0 $border-1 0 0);
  }

}

// ---- Editor ----

#snovy-editor {
  .toolbar {
    @include border(0 0 $border-2 0);

    .snovy-button {
      @include border($border-2)
    }
  }
}

// ---- Positional borders ----

.left {
  @include border(0 $border-2 0 0);
}

.right {
  @include border(0 0 0 $border-2);
}

// ---- Menu ----
.snovy-tab-menu-item {
  @include focus($border-rad-5);
}

// ---- Sidebars & their content ----

.snovy-sidebar {
  .sidebar-heading {
    @include border(0 0 $border-2 0);
  }

  .sidebar-footing {
    @include border($border-2 0 0 0);
  }
}

#notes-selector {
  #snovy-list-section {
    @include border(0 $border-1 0 0);
  }

  #snovy-list-note {
    @include border(0 0 0 $border-1);
  }
}

// ---- Options ----

.snovy-options {
  .snovy-combo-box {
    border-radius: $border-rad-5;
  }
}

// ---- List Items ----

.snovy-list-item {
  *:focus {
    outline: none !important;
  }
}