@import "theme";

#snovy-bar-top {
  grid-area: top;
  padding: 2px 0;
  background-color: $colour-accent;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-areas: "left centre right";
  border-bottom: $border;
}

#snovy-middle {
  grid-area: middle;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
  grid-template-areas: "left centre right";
}

#snovy-bar-bottom {
  grid-area: bottom;
  background-color: $colour-accent;
  border-top: $border;
}