#snovy-app {
  width: 100%;
  height: 100%;
  background-color: chocolate;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 85% 5%;
  grid-template-areas: "top top top" "left editor right" "bottom bottom bottom";
}

#snovy-bar-top {
  grid-area: top;
  background-color: purple;
  border-bottom: black solid 4px;
  display: grid;
  padding-top: 2px;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "top top top top2" "bot bot bot bot";
}

#snovy-bar-bottom {
  grid-area: bottom;
  background-color: gray;
  border-top: black solid 4px;
}

#snovy-bar-left {
  grid-area: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 20fr;
  grid-template-areas: "notebook notebook" "section note";
  grid-gap: 2px;
  background-color: blue;
  border-right: black solid 4px;
}

#snovy-bar-right {
  grid-area: right;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-areas: "main tabs";
  background-color: green;
  border-left: black solid 4px;
}

#snovy-editor {
  grid-area: editor;
  padding: 10px;
  background-color: black;
  color: ghostwhite;
  resize: none;
  overflow-y: auto;
  outline: 0;
  border: 0;
  line-height: 1.5em;
  scrollbar-color: whitesmoke darkgray;

}