#snovy-selector-notebook {
  grid-area: notebook;
}

#snovy-selector-section {
  grid-area: section;
  background-color: darkslateblue;
  overflow-y: auto;
}

#snovy-selector-note {
  grid-area: note;
  background-color: darkslategray;
  overflow-y: auto;
}

.snovy-list-selector .snovy-list-item {
  font-size: unset; //TODO
  background: none;
  border: none;
  width: 100%;
  cursor: default;
  padding: 4px 2px 4px 10px;
}

.snovy-list-selector .selected {
  background-color: darkgreen;
}

.snovy-list-selector .editable {
  cursor: text;
}

.snovy-list-selector .snovy-list-item:hover {
  background-color: forestgreen;
}