#snovy-selector-notebook {
  grid-area: notebook;
}

#snovy-selector-section {
  grid-area: section;
  background-color: darkslateblue;
  overflow-y: auto;
}

#snovy-selector-note {
  grid-area: note;
  background-color: darkslategray;
  overflow-y: auto;
}

.snovy-list-selector .selected {
  background-color: darkgreen;
}

.snovy-list-selector .snovy-list-item {
  padding: 4px 2px 4px 10px;
}

.snovy-list-selector .snovy-list-item:hover {
  background-color: forestgreen;
}