@mixin button-size($size, $n) {
  height: calc(#{$size} * #{$n});
  width: calc(#{$size} * #{$n});
}

@mixin scrollbar() {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scroll-snap-type: y mandatory;
}