$color-primary: #282424;
$color-accent: darkolivegreen;
$color-border: black;
$color-border-inverted: ghostwhite;

$color-text-primary: ghostwhite;
$color-text-secondary: black;

$color-active: #9b9b00;
$color-selected: #7c7c00;
$color-hover: darkkhaki;

$scrollbar: darkgreen $color-accent;

$border: $color-border solid 2px;
$border-thin: $color-border solid 1px;
$border-inverted: $color-border-inverted solid 2px;
$border-thin-inverted: $color-border-inverted solid 1px;

$border-rad-round: 20px;
$border-rad-rounded: 10px;

$font-huge: calc(24px + 0.5vw);
$font-big: calc(16px + 0.5vw);
$font-medium: calc(12px + 0.5vw);
$font-small: calc(8px + 0.5vw);