$border-rad-big: 20px;
$border-rad-medium: 10px;
$border-rad-small: 5px;

$font-huge: calc(24px + 0.5vw);
$font-big: calc(16px + 0.5vw);
$font-medium: calc(12px + 0.5vw);
$font-small: calc(8px + 0.5vw);