$colour-primary: #1e1e1e;
$colour-accent: darkolivegreen;
$colour-border: black;

$colour-text-primary: ghostwhite;
$colour-text-secondary: black;

$colour-active: olive;
$colour-hover: darkkhaki; //rgba(0, 0, 0, 0.1) something like this, maybe?

$scrollbar: darkgreen $colour-accent;

$border: $colour-border solid 0.1em;
$border-thin: $colour-border solid 0.05em;