#snovy-search {
  grid-area: top2;
  height: 100%;
  width: 100%;
  background-color: black;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "left right";
}

#snovy-search #search {
  grid-area: left;
}

#snovy-search #options {
  grid-area: right;
}

#snovy-toolbar {
  grid-area: bot;
  height: 100%;
  width: 100%;
  background-color: chocolate;
}