@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font-smaller: 1rem;
$font-small: 1.5rem;
$font-medium: 2rem;
$font-big: 3rem;

* {
  font-family: "Roboto", "Montserrat", sans-serif;
}

// base components

.labeled-input-wrapper {
  font-size: $font-smaller;
}

.snovy-input,
.snovy-button,
.colored-input-wrapper .color-helper {
  font-size: $font-medium;
}

.snovy-button-circular {
  @include button-size($font-medium, 1);
}

//for buttons in main UI?
//.snovy-button{
//  font-size: $font-big;
//}

// specifics

#snovy-editor {
  font-size: $font-small;
}

.snovy-list-item {
  font-size: $font-medium;
}

.snovy-context-menu {
  font-size: $font-small;
  line-height: $font-big;
}

.snovy-tag-item {
  font-size: $font-medium;

  .snovy-button {
    @include button-size($font-small, 1);
  }
}

.snovy-dropdown {
  .snovy-button-circular {
    @include button-size($font-medium, 1);
  }

  .snovy-dropdown-item {
    font-size: $font-medium;
  }

  .snovy-dropdown-no-match,
  .info-dropdown-item {
    font-size: $font-small;
  }
}

.snovy-form {
  .snovy-input,
  .snovy-button {
    font-size: $font-small;
  }

  .snovy-button:not(.snovy-button-circular) {
    font-size: $font-medium;
  }

  .snovy-dropdown-item {
    font-size: $font-smaller;
  }

  .snovy-form-item {
    .snovy-button {
      @include button-size($font-small, 1.2);
    }
  }
}

@mixin tag-detail-sizing($size) {
  font-size: $size;

  .color-helper {
    @include button-size($size, 1);
  }
}

.snovy-tag-detail {
  .scope-detail {
    @include tag-detail-sizing($font-small);
  }

  .tag-detail {
    @include tag-detail-sizing($font-medium);
  }
}

.snovy-note-item {
  .color-helper {
    @include button-size($font-small, 1);
  }
}

.snovy-tab-menu-item {
  font-size: 1vw;
}