#snovy-selector-section {
  grid-area: section;
  background-color: darkslateblue;
  scrollbar-color: darkgreen darkgray;
}

#snovy-selector-section .selected {
  background-color: paleturquoise;
}

#snovy-selector-section .snovy-list-item:hover {
  background-color: turquoise;
}