.snovy-list-selector {
  overflow-y: auto;
  overflow-x: hidden;
}

.snovy-list-item {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: unset; //TODO
  background: none;
  border: none;
  width: 100%;
  cursor: default;
  padding: 4px 10px;
  user-select: none;
}

.snovy-list-selector .editable {
  cursor: text;
  user-select: text;
}