#snovy-selector-note {
  grid-area: note;
  background-color: darkslategray;
  scrollbar-color: darkgreen darkgray;
}

#snovy-selector-note .selected {
  background-color: goldenrod;
}

#snovy-selector-note .snovy-list-item:hover {
  background-color: darkgoldenrod;
}