.snovy-context-menu {
  border: 1px solid black;
  background-color: white;
}

.snovy-context-menu li {
  user-select: none;
  border-bottom: 1px solid black;
  list-style-type: none;
  padding: 2px 5px;
}

.snovy-context-menu li:hover {
  background-color: cornflowerblue;
}

.snovy-context-menu > li:last-child {
  border-bottom: none;
}
