@import "../theme";

.snovy-list {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: $scrollbar;
}

.snovy-list-item {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: unset; //TODO
  color: $colour-text-primary;
  background: none;
  border: none;
  width: 100%;
  cursor: default;
  padding: 4px 10px;
  user-select: none;
}

.snovy-list .editable {
  cursor: text;
  user-select: text;
}

.snovy-list .selected {
  background-color: $colour-active;
}

.snovy-list-item:hover {
  background-color: $colour-hover;
}