@import "../theme";

.react-select-container,
.react-select-container .react-select__control {
  height: 100%;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  background-color: $colour-primary;
}

.react-select-container .react-select__value-container > * {
  color: $colour-text-primary;
}

.react-select-container .react-select__menu {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
}

.react-select-container .react-select__menu-list {
  border: 1px solid black;
  padding-top: 0;
  padding-bottom: 0;
  color: $colour-text-primary;
  background-color: $colour-primary;
}

.react-select-container .react-select__option--is-selected {
  background-color: $colour-active;
}

.react-select-container .react-select__option--is-focused {
  background-color: $colour-hover;
}