@import "../theme";

.snovy-tab-switcher {
  grid-area: tabs;
  background-color: $colour-accent;
}

.snovy-tab-switcher_right {
  @extend .snovy-tab-switcher;
  border-left: $border;
}

.snovy-tab-switcher_left {
  @extend .snovy-tab-switcher;
  border-right: $border;
}