@use "style/layout/top";
@use "style/layout/bottom";
@use "style/component/editor";
@use "style/component/sidebar";
@use "style/component/list";
@use "style/component/context-menu";
@use "style/component/tab-menu";
@use "style/component/button";
@use "style/component/tag-display";
@use "style/component/tag-manager";
@use "style/component/combo-box";

@import "./style/theme";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.active {
  background-color: $colour-active;
}

.hover {
  background-color: $colour-hover;
}

.editable {
  cursor: text;
  user-select: text;
}

.disabled {
  cursor: not-allowed;
}

#snovy-app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 4vh 94vh 2vh;
  grid-template-areas: "top" "middle" "bottom";
}

//TODO flex here too, probably, maybe?
#snovy-middle {
  grid-area: middle;
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 100%;
  grid-template-areas: "left centre right";
}